/* main style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #ff8a01;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.logo-img{
  width: 300px;
  height: 39px;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.btn-primary:disabled {
  background: transparent;
  color: var(--primaryColor);
  cursor: initial;
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.loading-cart {
  text-transform: capitalize;
  text-align: center;
  margin-top: 15rem;
  height: 34rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
  color: crimson;
  letter-spacing: var(--mainSpacing);
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--mainBlack);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  align-self: flex-end;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainWhite);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 80;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 190px;
}

@media screen and (min-width: 950px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 15rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

/* bannerImage */
.defaultBanner,
.productsBanner {
  min-height: calc(100vh - 66px);
  background: url("../images/defaultBcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productsBanner {
  background-image: url("../images/defaultBcg2.jpeg");
  min-height: 60vh;
}

/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.65);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}

/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 1em;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}

/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}

/* toWatch */
.products-towatch {
  padding: 5rem 0;
}
.products-towatch-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .products-towatch-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .products-towatch-center {
    width: 95vw;
    max-width: 1170px;
  }
}

/* elementsList */
.product {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  position: relative;
  border: 1px solid var(--primaryColor);
  border-bottom: 0px;
}
.product:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.product-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .product-link {
  transform: translate(-50%, -50%) scale(1);
}
.product-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  width: 100%;
}

/* elementDetails */
.compat{
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  list-style-type: none;
}

.desc .btn-primary{
  margin-bottom: 3rem;
}

.single-product {
  padding: 5rem 0 0 0;
}
.single-product-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-product-images img {
  width: 100%;
  display: block;
}
.single-product-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.product-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.product-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-product-images,
  .single-product-info,
  .product-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-product-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
  .single-product-images{
    margin-bottom: 1em;
  }

}
.btn-primary-choice {
    display: inline-block;
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    color: var(--mainBlack);
    background: var(--primaryColor);
    padding: 0.4rem 0.9rem;
    border: 3px solid var(--primaryColor);
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
    margin: 0.5rem;
  }
  .btn-primary-choice:hover {
    background: transparent;
    color: var(--primaryColor);
  }
  .btn-primary-choice:disabled{
    background: transparent;
    color: var(--primaryColor);
    cursor: initial;
  }

/* elementList */
.productslist {
  padding: 5rem 0;
}
.productslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .productslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .productslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}

/* Filters */
.filter-container {
  padding: 2rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}

/* footer */
.footer{
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  width: 100%;
  height: auto;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
  
}

.footerContainer{
  margin: 1rem;
}

.footer p{
	color:var(--mainWhite);
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}

#socialContainer{
	position: relative;
	display: flex; 
	justify-content: center;
}

.socialButton{
	position: relative;
	margin: 1em 0.5em;
	font-size: 1.5em;
}

.socialButton .fa{
	text-decoration: none;
	color:var(--mainWhite);
	font-size: 1.2em;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.socialButton .fa:hover{
  color:var(--primaryColor);
}

/*search*/
.search, .search-btn {
	color: var(--mainWhite);
	font-size: 1.8rem;
}

input[type="search"] {
  border: 1px solid var(--primaryColor);
  text-align: center;
	width: 100%;
	background: none;
  position: relative;
  color: var(--mainWhite);
}

input[type="search"]:hover::placeholder{
  font-size: 0px;
}

input[type="search"]::placeholder{
  color: rgba(255,255,255,0.7);
  text-align: center;
}

.search-btn {
  margin-top: 1em;
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}

.search-btn:hover{
  background: transparent;
  color: var(--primaryColor);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

/* cart */
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-total{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .container-total {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container-total {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container-total {
    width: 1170px;
  }
}
.container-list{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .container-list {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container-list {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container-list {
    width: 1170px;
  }
}
.flex-row {
  display: flex;
  flex-direction: row; 
  margin: 1em;
  border-bottom: 1px solid var(--primaryColor);
} 
.flex-col{
padding: 1em;
margin: 0 2em;
background: none;
width: -webkit-fill-available;
padding-top: 2rem;
padding-left: 2rem;
}

.flex-col-img{
  margin: 0 2em;
  background: none;
  width: -webkit-fill-available;
  padding-top: 1rem;
  padding-left: 2rem;
  }

.flex-row-last{ 
  display: flex;
  flex-direction: row; 
  margin: 1em;
  border-bottom: 1px solid var(--primaryColor);
  margin-bottom: 35%; 
}
.flex-row-multicolum .flex-col{ width: 40%; margin: 0 15px 15px}

.thumb-img{
  width: 5rem;
  height: 5rem;
}

.small-btn{
  text-transform: capitalize;
  font-size: 0.8rem;
  background-color: var(--primaryColor);
  border-radius: 0;
  border: 0.1em solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  color: var(--mainWhite);
  width: 1.5em;
  height: 1.5em;
  margin: 0.1em;
}

.small-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

.small-btn:disabled{
  background: transparent;
  color: var(--primaryColor);
  cursor: initial;
}

.small-icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  margin-left: 1em;
}
.small-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}

.btn-primary-red {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: crimson;
  background: transparent;
  margin: 1rem;
  padding: 0.8rem 0.9rem;
  border: 2px solid crimson;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 2rem;
}
.btn-primary-red:hover {
  background: crimson;
  color: var(--mainWhite);
}

.btn-primary-green {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: forestgreen;
  background: transparent;
  margin: 1rem;
  padding: 0.8rem 0.9rem;
  border: 2px solid forestgreen;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 2rem;
}

.btn-primary-green:hover {
  background: forestgreen;
  color: var(--mainWhite);
}

.total-title{
  align-self: center;
  margin-left: auto;
  margin-right: 2em;
}

/*checkout*/
.checkout-container{
  width: 70%;
  margin: auto;
  display: table;
  border-spacing: 2rem;
  margin-bottom: 2rem;
}

.form-wrapper {
  display: table-cell;
  color: var(--mainBlack);
  background-color: var(--mainWhite);
  border: 1px solid var(--primaryColor);
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
}

.form-container {
  width: 100%;
  padding: 5% 10%;
}

form {
  width: 100%;
}
form > * {
  margin-top: 1.5rem;
}
.form-container form input {
  width: 100%;
  min-height: 25px;
  border-bottom: 1px solid var(--primaryColor);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
}
form label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
}
form h1 {
  font-size: 24px;
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
}

.name {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.name div {
  width: 45%;
}

.address-info-street .address{
  width: 55%;
}

.address-info-street .country{
  width: 30%;
}

.address-info-street .number{
  width:10%;
}

.address-info {
  display: flex;
  justify-content: space-between;
}

.address-info-street {
  display: flex;
  justify-content: space-between;
}

.address-info div {
  width: 30%;
}

.cc-info {
  display: flex;
  justify-content: space-between;
}
.cc-info div {
  width: 45%;
}

input:focus,
button:focus {
  outline: none;
}

.checkout-icon{
  vertical-align: bottom;
}

.expires{
  display: grid;
}

.selects{
  display: flex;
  justify-content: space-between;
}

.expires select{
  width: 15rem;
  color: var(--mainBlack);
  text-align: center;
  letter-spacing: var(--mainSpacing);
  align-items: center;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid var(--primaryColor);
  background-color: var(--mainWhite);
  margin-top: 0.8rem;
}

.expires select:focus{
  outline: none;
}

.form-wrapper-cart{
  width: 40%;
  display: table-cell;
  color: var(--mainBlack);
  background-color: var(--mainWhite);
  border: 1px solid var(--primaryColor);
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
}

.btns{
  width: 100%;
  display: flex;
  justify-content: center;
}

.cart-checkout-total{
  border-top: 1px solid var(--primaryColor);
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: right;
}

.checkout-element{
  list-style-type: none;
}

.checkout-element-price{
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.errorForm{
  text-transform: uppercase;
  color: crimson;
  font-size: smaller;
  letter-spacing: var(--mainSpacing);
}

.form-container button{
  width: 100%;
  margin-left: auto;
}

.pay-methods p{
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
  font-size: medium;
}

@media (max-width: 1040px) {
  .checkout-container{
    width: 100%;
  }

  .form-wrapper {
    margin-left: 5%;
    display: flex;
  }

  .form-wrapper-cart{
    width: 95%;
    margin-left: 5%;
    margin-top: 4%;
    display: flex;
  }

  .form-container {
    width: 100%;
  }

  .btns{
    display: block;
    justify-content: center;
  }

  .btns button{
    position: relative;
  }

  form h1 {
    text-align: center;
    line-height: normal;
  }

  .name,
  .address-info,
  .cc-info {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .name div,
  .address-info div,
  .cc-info div {
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  .street,
  .cc-num {
    text-align: center;
  }

  input {
    margin: 5px 0;
    min-height: 30px;
  }

  .errorForm{
    font-size: x-small;
    letter-spacing: normal;
  }
}